@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 231 16% 24%;
    --background-secondary: 232 17% 17%;
    --foreground: 240 3% 92%;
    --foreground-secondary: 233 4% 61%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 38 100% 68%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 231 7% 42%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

* {
  margin: 0;
  padding: 0;
  outline-color: transparent;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  @apply bg-transparent;
}
::-webkit-scrollbar-thumb {
  @apply rounded-s-full bg-primary;
}

html {
  @apply bg-background;
}

body {
  @apply relative overflow-x-hidden bg-background text-sm text-foreground lg:text-base;
  scrollbar-gutter: stable;
}

/* image reset */
img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  font-style: italic;
  background-repeat: no-repeat;
  background-size: cover;
  shape-margin: 1rem;
  user-select: none;
}

/* style aos animation library */
[data-aos] {
  pointer-events: none;
}
.aos-animate {
  pointer-events: auto;
}
.aos-init[data-aos][data-aos].aos-animate {
  transform: unset;
}

.universal_x {
  @apply mx-auto max-w-6xl px-6;
}

.stacked {
  /* display: grid; */
  isolation: isolate;
}

.stacked > * {
  grid-column: 1/-1;
  grid-row: 1/-1;
}

ol li,
ul li {
  list-style-position: inside;
  position: relative;
}

/* sanity studio font override */
div[data-ui="ToolScreen"] * {
  @apply font-sans;
}
