@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Sofia Pro";
  src: url("/font/sofiapro-light.otf");
}

:root {
  --font: "Sofia Pro", sans-serif;
  --bg-primary: #333646;
  --bg-secondary: #252734;
  --text-white: #ebebec;
  --text-gray: #646672;
}

* {
  margin: 0;
  padding: 0;
  outline-color: transparent;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

body {
  font-family: var(--font);
  @apply pt-0 md:pt-10 text-xs md:text-sm lg:text-base font-medium bg-bgPrimary text-textWhite overflow-x-hidden;
}

img {
  user-select: none;
}

select {
  -webkit-appearance: inherit;
  appearance: inherit;
}

/* change all mui fonts to my font */
.MuiTypography-root {
  font-family: var(--font) !important;
}

/* style aos animation library */
[data-aos] {
  pointer-events: none;
}
.aos-animate {
  pointer-events: auto;
}
.aos-init[data-aos][data-aos].aos-animate {
  transform: unset;
}

/* style react toastify */
.Toastify__toast {
  font-family: var(--font) !important;
  @apply !rounded-lg !text-sm;
}

/* capitalize first text in toast  */
.Toastify__toast-body > div:nth-child(2):first-letter {
  text-transform: capitalize;
}

.universal_x {
  @apply mx-auto max-w-6xl px-6;
}

.stacked {
  /* display: grid; */
  isolation: isolate;
}

.stacked > * {
  grid-column: 1/-1;
  grid-row: 1/-1;
}
